{% extends 'base.html' %}

{% block content %}

    <form action="{% url 'search' %}" class="mb-3 mr-5 text-left">
        {% csrf_token %}
        {{ search_form.search }}
        <input type="submit" value="Найти">
    </form>
    {% if notes %}
        {% for note in notes %}
            <div class="card mt-3" style="width: 750px;">
                <div class="card-body bg-light">
                    <div class="d-flex justify-content-between">
                        <div>
                            <h5 class="card-title text-dark">
                                {{ note.author }} ({{ note.email }})
                            </h5>
                        </div>
                        <div>
                            <i class="ml-4 bi bi-pencil-square"></i>
                            <i class="bi bi-file-earmark-minus"></i>
                        </div>
                    </div>
                    <p class="card-text">{{ note.text }}</p>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="card mt-3" style="width: 750px;">
            <div class="card-body bg-light">
                <h5 class="card-title text-dark">
                    Записи не найдены
                </h5>
                <p class="card-text">{{ note.text }}</p>
            </div>
        </div>
    {% endif %}

    <h5 class="txt-color mt-5">Добавление новой записи</h5>
    <form action="{% url 'add' %}" method="POST" class="ml-4">
        {% include 'partial/partial_add_edit.html' with button_text1='Добавить' %}
    </form>

{% endblock %}